.map-class {
  position: fixed;
  padding: 0;
  margin-top: 3.63em; 
  z-index: 1;
}

agm-map { 
  height: 215px;
  width: 100%;
}

.btn{
  margin: 10px 5px;
  font-size: 12px;
  padding: 1px
}

.btn-grp{
  position: fixed;
  width:107%;
  z-index: 100;
  background-color: #007bff;
}

.btn:hover{
  color: black;
}

.btn:active{
  color: black;
}

.modal.show .modal-dialog {
    -webkit-transform: translate(0,0);
    transform: translate(0,190%);
}