<div class="container">
    <div class="row align_btn  justify-content-center align-items-center">  
        <div class="col-xs-3 offset-xs-6 col-md-3 w-75 btn-group-vertical">
            <button type="button" class="btn btn-danger btn-lg" style="margin-bottom:20px"><a [routerLink]="['/latlng']" routerLinkActive="router-link-active" style="color:white">Emergency Services</a></button>
            <button type="button" class="btn btn-primary btn-lg" style="margin-bottom:20px"><a [routerLink]="['/register']" routerLinkActive="router-link-active" style="color:white">Register</a></button>
        </div>
    </div>
</div>
